#forecast{
    margin-top: 20px;
    width: 200px;
}

#progressbar{
    margin-top: 10px;
    margin-left: 10%;
	width: 80%;
	background-color: #ddd;
}

#bar{
	width: 10%;
	height: 30px;
	background-color: #4cae4c;
	text-align: center;
	line-height: 30px;
	color: white;
}

#result{
    margin-top: 10px;
}
.navbar-fixed-bottom{
    color: darkslateblue;
    text-align: center;
    vertical-align: middle;
    font-family: ‘Book Antiqua’,‘Palatino Linotype’, Palatino, serif;
    background-color: lightskyblue;
    background-size:cover;
    background-position:center;
    width:100%;
}

.danger{
    background-color: #761c19;
    color: #122b40;
}

.dropdown-toggle{
    margin-top: 12px;
    width: 200px;
}



